{{ define "inicio" }}
{{ template "cabecera" }}
<!-- Boton de acceso a la url /crear -->
<a name="" id="" class="btn btn-primary" href="/crear" role="button">Agregar empleado</a>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Santiago Quiroz</td>
            <td> santiagoquiroz.dev@gmail.com</td>
            <td>Editar | Borrar</td>
          </tr>
         
        </tbody>
      </table>

{{ template "pie" }}
{{ end }}