{{ define "inicio" }}
{{ template "cabecera" }}
      <br/><br/>
      <!-- Boton de acceso a la url /crear -->
      <a name="" id="" class="btn btn-primary" href="/crear" role="button">Agregar empleado</a>
      <!-- Salto de linea -->
      <br/><br/>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
      {{ range.}}    
          <tr>
            <td>{{.Id}}</td>
            <td>{{.Nombre}}</td>
            <td> {{.Correo}}</td>
            <td>
              <!-- Boton de editar datos -->
              <a name="" id="" class="btn btn-info" href="/editar?id={{.Id}}" role="button">Editar</a>
             | 
              <!-- Boton de borrar datos -->
              <a name="" id="" class="btn btn-danger" href="/borrar?id={{.Id}}" role="button">Borrar</a>
            
            </td>
          
            </tr>
      {{ end }}
         
        </tbody>
      </table>

{{ template "pie" }}
{{ end }}