{{ define "inicio" }}
{{ template "cabecera" }}

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Santiago Quiroz</td>
            <td> santiagoquiroz.dev@gmail.com</td>
            <td>Editar | Borrar</td>
          </tr>
         
        </tbody>
      </table>

{{ template "pie" }}
{{end }}